:root {
  --background-color: rgb(254, 255, 220);
  --background-header: rgb(247 244 174);
}

html {
  background-color: silver;
  scroll-behavior: smooth;
}

.page {
  background-color: white;
  max-width: 850px;
  margin: 0 auto;
  background-color: var(--background-color);
}

header,
footer {
  background-color: var(--background-header);
}

.nav-list {
  padding: 16px 0px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.photo {
  width: 200px;
}

.column-2 {
  display: flex;
  justify-content: space-around;
}

.photo-header {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px;
}

h2 {
  text-align: center;
}

section {
  width: 40%;
}

pre {
  overflow: scroll;
}
