:root {
  --color-background: rgb(254, 255, 220);
  --color-header: rgb(247, 244, 174);
  --color-header-head: rgb(185, 179, 47);
  --color-text: rgb(55, 54, 45);
  --width-column: 43%;
}

body {
  background-color: silver;
  /* scroll-behavior: smooth; */
  color: var(--color-text);
  font-family: 'Kalam', cursive;
}

.page {
  background-color: white;
  max-width: 850px;
  margin: 0 auto;
  background-color: var(--color-background);
}

header,
footer {
  background-color: var(--color-header);
}

.nav-list {
  padding: 16px 0px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.photo {
  width: 200px;
}

.column-2 {
  display: flex;
  justify-content: space-around;
}

.photo-header {
  width: var(--width-column);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px;
}

h2 {
  text-align: center;
}

section {
  width: var(--width-column);
}

.section_header {
  background-color: var(--color-header);
  position: relative;
}

.section_header::before {
  position: absolute;
  content: '';
  background-color: var(--color-header-head);
  left: 0px;
  top: 0px;
  width: 30px;
  height: 100%;
}

pre {
  overflow: scroll;
}

code {
  font-family: 'Kalam', sans-serif;
}
